$input-border-radius: 24px;

.inputBox {
  height: 100%;
  border: 1px solid #aba9a9;
  border-radius: $input-border-radius;

  textarea {
    border-radius: $input-border-radius $input-border-radius 0 0;
    height: 80% !important;
    outline: none;
    border: none;
    resize: none !important;
    box-shadow: none !important;
    padding: 20px;
  }
  .inputOptions {
    height: 20%;
    border-radius: 0 0 $input-border-radius $input-border-radius;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: flex-end;
    font-size: 18px;
    .notSend{
        cursor: not-allowed;
        color: #ccc;
    }
    .send{
        cursor: pointer;
        color: aqua;
    }
    .sendbtn{
        border: none;
        padding: 0;
        background-color: transparent;
    }
    .sendbtn:hover{
        background-color: transparent !important;
    }
  }
}
