.container {
  overflow: auto;
  height: calc(100% - 66px);
  margin-top: 20px;

  .inner-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(381px, 1fr));
    grid-auto-rows: 128px;
    gap: 16px;
  }
}

.create-card {
  border-radius: 6px;
  border: 1px dashed #d0d3d6;
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    border: 1px solid #e1e3e5;
    box-shadow: 0 2px 12px #00000014;
    color: #3570fb;
  }
}

.card-item {
  border-radius: 6px;
  border: 1px solid #d0d3d6;
  display: flex;
  padding: 16px;
  cursor: pointer;

  &:hover {
    border: 1px solid #e1e3e5;
    box-shadow: 0 2px 12px #00000014;
    color: #3570fb;
  }

  .avatar {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid #e1e3e5;

    img {
      width: 32px;
      height: 32px;
    }
  }

  .info {
    flex: 1;
    width: calc(100% - 92px);
  }
}
