.msgpage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .msgArea {
    height: 79%;
    padding: 20px;
    overflow-y: auto;
  }
  .inputArea {
    height: 19%;
  }
}
