
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* flex 布局 */
.flex-def {
  display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box; /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox; /* 混合版本语法: IE 10 */
  display: -webkit-flex; /* 新版本语法: Chrome 21+ */
  display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */

  &.flex-full {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  /* 主轴从左到右 */

  &.flex-left-right {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  /* 主轴从上到下 */

  &.flex-top-bottom {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  /* 主轴两端对齐 */

  &.flex-between {
    -webkit-box-pack: justify;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  /* 主轴end对齐 */

  &.flex-end {
    -webkit-box-pack: end;
    -moz-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }

  /* 主轴start对齐 */

  &.flex-start {
    -webkit-box-pack: start;
    -moz-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  /* 主轴居中 */

  &.flex-center {
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  /* 侧轴居中 */

  &.flex-align-items-center{
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  /*侧轴对齐*/
  &.flex-align-items-start{
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  &.flex-align-items-end{
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }

  /* 换行 */
  &.flex-wrap{
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .flex-1 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    min-height: 0;
  }
}
// 使用 SCSS 的 @for 循环生成工具类
@for $i from 0 through 100 {
  .m-#{$i} {
    margin: $i * 1px !important;
  }
  .mt-#{$i} {
    margin-top: $i * 1px !important;
  }
  .mb-#{$i} {
    margin-bottom: $i * 1px !important;
  }
  .mr-#{$i} {
    margin-right: $i * 1px !important;
  }
  .ml-#{$i} {
    margin-left: $i * 1px !important;
  }
  .p-#{$i} {
    padding: $i * 1px !important;
  }
  .pt-#{$i} {
    padding-top: $i * 1px !important;
  }
  .pb-#{$i} {
    padding-bottom: $i * 1px !important;
  }
  .pr-#{$i} {
    padding-right: $i * 1px !important;
  }
  .pl-#{$i} {
    padding-left: $i * 1px !important;
  }
  .w#{$i} {
    width: $i * 1% !important;
  }
  .h#{$i} {
    height: $i * 1% !important;
  }
  .fs-#{$i} {
    font-size: $i * 1px !important;
  }
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-underline {
  text-decoration: underline;
}

.text-secondary {
  color: #999999;
}
.text-description{
  color: #666666;
}
.text-bold {
  font-weight: 500;
}
/*文本显示省略号*/
.text-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-next-line-ellipsis {
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}