.layoutRoot {
  height: 100vh;
}

.sysicon {
//   background: rgba(255, 255, 255, 0.2);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,10%);
  padding-bottom: 10px;
  user-select: none;
  cursor: pointer;
}
.layoutMenu{
    border: none;
    border-inline-end: none;
}
.layoutContent{
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    padding: 1rem;
}
